---
import CardLaunch from "./CardLaunch.astro";

interface Launch {
    id: string;
    links: {
        patch: {
            small: string;
        };
    }
	details: string | null;
	flight_number: number;
	success: boolean;
}

const res = await fetch("https://api.spacexdata.com/v5/launches/query", {
	method: "POST",
	headers: {
		"Content-Type": "application/json",
	},
	body: JSON.stringify({
		query: {},
		options: {
			sort: {
				date_unix: "asc",
			},
			limit: 12,
		},
	}),
});
const { docs: launches }: { docs: Launch[] } = await res.json();

// import { getLatestLaunches } from "../services/spacex";
// const { docs: launches }: { docs: Launch[] } = await getLatestLaunches();
// const launches = await getLatestLaunches();

// console.log(launches);
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
	{
		launches.map((launch) => (
			<CardLaunch
				id={launch.id}
				img={launch.links.patch.small}
				details={launch.details} 
				flightNumber={launch.flight_number}
				success={launch.success}
				/>
		))
	}
</div>
